body {
    position: absolute;
    inset: 0;
    width: 600px;
    height: 200px;
    margin: auto;
    background-color:#0396A6;

    font-family: "American Typewriter,serif";

}
.btn-start {
    background-color: #F28963;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}